/* common shared style  */
body{
    // <uniquifier>: Use a unique and descriptive class name

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
   border: 0px;
   color: #fff;
   font-size: 20px;
   font-weight: 700px;
   padding: 18px 35px;
    
    
}
/* nav related style  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 700px;

}
nav >ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a {
    text-decoration: none;
    color: #181818;

}
/* header related style  */
.header{
    background-color: #FFF8F3;
    background-image: url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
} 
/* banner related style  */
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-pic{
    width: 500px;

}
.banner-title{
    font-size: 45px;
    color: #474747;
    font-weight: 700px;
    margin-bottom: 0px;
}
.banner-heading{
    font-size: 85px;
    color: #181818;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-discription{
    font-size: 18px;
    color: #757575;
}
.banner-contant{
    max-width: 500px;
}
/* main section style  */

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700px;

}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    
}


/* about section style  */
.about{
    padding: 130px;
    background-color: #FFF8F3;
    margin: 130px;
}