/* common shared style  */
body{
    // <uniquifier>: Use a unique and descriptive class name

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  font-variation-settings:
    "wdth" 100;
}
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    border-radius: 5px;
   border: 0px;
   color: #fff;
   font-size: 20px;
   font-weight: 700px;
   padding: 18px 35px;
    
    
}
/* nav related style  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 700px;

}
nav >ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a {
    text-decoration: none;
    color: #181818;

}